.cabecalho__menu-hamburguer {
    width: 3rem;
    height: 3rem;

    background-image: url("../assets/Menu.svg");
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.cabecalho {
    background-color: var(--branco);

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
}

.cabecalho__titulo {
    display: none;
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: .5rem;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;

    width: 60vw;
}

.container__botao {
    display: none;
}

.container__botao:checked ~ .lista-menu {
    display: block;
}

.lista-menu__titulo,
.lista-menu__item {
    padding: 1rem;
    background: var(--branco);
}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link {
    background: var(--azul-degrade);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    text-transform: uppercase;
}

.opcoes {
    display: none;
}

@media screen and (min-width: 1024px) {
    .cabecalho__menu-hamburguer {
        display: none;
    }

    .cabecalho__titulo {
        color: var(--preto);
        font-size: 1.875rem;
        font-family: var("Josefin Sans");
        display: block;
    }

    .titulo__span {
        font-weight: 700;
    }

    .opcoes {
        display: flex;
    }

    .opcoes__item {
        padding: 0 1rem;

        text-transform: uppercase;
    }

    .opcoes__link {
        color: var(--preto);

        text-decoration: none;
    }

    .container__imagem-transparente {
        display: none;
    }

    .cabecalho {
        justify-content: space-around;
    }
}